html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
    background-image: url("../Imagini Genuri/Background/Background pagina.jpg"); 
    background-position: center center; 
    background-repeat: no-repeat;
    background-attachment: fixed; 
	background-size: cover; 
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	
}


/*proprietati CSS pentru header*/
header{
	background-color: white;
    width: 100%; 
}

*{
	box-sizing: border-box;
}

a{
	text-decoration: none;
}

.logo{
    width: 150px;
    border: 5px solid;
    border-color: rgb(51, 51, 51);
    border-radius: 10%;
}


/*proprietati CSS meniu*/
nav{
	text-align: left;
    background-color: rgb(12, 18, 73);}

li{
	padding-top: 8px;
	padding-bottom: 7px;
	list-style: none;
}

nav li a{
    color: white;
    font-size: 1.5rem;
}

.current-page a{
	color: red;
}

#primary-menu{
	display: none;
}

.icon{
	float: right;
	color: rgb(12, 18, 73);
	font-size: 2rem;
    margin-top:-3rem;
    margin-right:2rem;
}

/*proprietati CSS meniu efect Hover*/
.nav * {
  transition: all .35s ease;
}

.nav a {
  padding: .1em .3em;
  position: relative;
}

.nav a::before,
.nav a::after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .35s ease;
  opacity: 0;
}

.nav a::before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid rgb(14, 77, 211);
  border-right: 3px solid rgb(14, 77, 211);
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid rgb(14, 77, 211);
  border-left: 3px solid rgb(14, 77, 211);
  transform: translate(100%, -50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: rgb(14, 77, 211);
}

/*proprietati CSS carousel*/
.homeslider{
	display: none;
}

span{
	color: cyan;
}

/*proprietati CSS categorie*/
.example_d {
	color: rgb(12, 18, 73) !important;
	border: 6px solid rgb(12, 18, 73)!important;
	background: #ffffff;
	padding: 20px;
	border-radius: 6px;
	display: block;
	transition: all 0.3s ease 0s;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	}

.example_d:hover {
	color: rgb(14, 77, 211) !important;
	border-radius: 50px;
	border-color: rgb(14, 77, 211) !important;
	transition: all 0.3s ease 0s;
	}

/*proprietati CSS galerie de imagini*/
section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding:1rem; 
}

.gallery{
	width: 60%;
	margin:1rem auto;
	overflow: hidden;
	position: relative;
	text-align: center;
}

.gallery img{
	width: 100%;
	padding-bottom: 0;
	border-style: solid;
	border-color: white;
	border-width: 7px;
}


/*proprietati CSS galerie efect Hover*/
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;
	cursor: default;
  }
  
  .hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	opacity: 0;
	filter: alpha(opacity=0);
	background-color: rgba(255, 247, 247, 0.5);
	-webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
	transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  }
  
  .hovereffect img {
	display: block;
	position: relative;
	-webkit-transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
	transition: all 0.4s cubic-bezier(0.88,-0.99, 0, 1.81);
  }
  
  .hovereffect a.info {
	text-decoration: none;
	display: inline-block;
	text-transform: uppercase;
	color: white;
	border: 1px solid red;
	background-color: black;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
	margin-top: 34vw;
	margin-left: 25px;
	margin-right: 25px;
	padding: 7px 14px;
  }
  
  .hovereffect a.info:hover {
	box-shadow: 0 0 10px red;
  }

  .info{
	  font-size: 16px;
  }
  
  .hovereffect:hover img {
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
  }
  
  .hovereffect:hover .overlay {
	opacity: 1;
	filter: alpha(opacity=100);
  }
  
  .hovereffect:hover a.info {
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-transform: translatey(0);
	-webkit-transform: translatey(0);
	transform: translatey(0);
  }
  
  .hovereffect:hover a.info {
	-webkit-transition-delay: .2s;
	transition-delay: .2s;
  }


/*proprietati footer*/
footer{
	bottom: 0;
}

.footer-distributed{
    background-color: rgba(0,0,0,0.85);
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 10px 50px;
	margin-top: 30px;
}
 
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
 
/*proprietati footer coloana 1*/
.footer-distributed .footer-left{
	width: 40%;
}
 
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
 
.footer-distributed h3 span{
	color:  red;
}
 
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}
 
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	color:  inherit;
}
 
.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
 
/*proprietati footer coloana 2*/
.footer-distributed .footer-center{
	width: 35%;
}
 
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
 
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
 
.footer-distributed .footer-center p{
	display: inline-block;
	color:  red;
	vertical-align: middle;
	margin:0;
}
 
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
 
.footer-distributed .footer-center p a{
	color:  red;
}
 
/*proprietati footer coloana*/
.footer-distributed .footer-right{
	width: 20%;
}
 
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  aliceblue;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
 
.footer-distributed .footer-company-about span{
	display: block;
	color:  white;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 20px;
}
 
.footer-distributed .footer-icons{
	margin-top: 25px;
}
 
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

/*efect Hover link-uri social media*/
.footer-icons a::before {
	content: '';
	transition: .5s;
	transform: scale(.9);
  }
  
  .footer-icons a:hover::before {
	transform: scale(1.1);
	box-shadow: 0 0 15px red;
  }
  
  .footer-icons a:hover {
	box-shadow: 0 0 5px red;
	text-shadow: 0 0 5px red;
  }
 
 
 /*start responsive footer for tablet and phone*/
@media (max-width: 980px) {
 
	.footer-distributed{
		font: bold 14px;
	}
 
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		text-align: left;
	}
 
	.footer-distributed .footer-center i{
		margin-left: 0;
    }
}
/*sfarsit responsive footer for tablet and phone*/


/*start responsive for tablet*/
@media (min-width: 768px){

/*proprietati CSS header*/
.logo{
	width: 10%;
}

	.icon{
		display: none;
	}

	#primary-menu{
        display: block;
	}

	li{
		display: inline-block;
	}

	nav{
		background-color: initial;
		display: inline-block;
		width: 80%;
        text-align: right;
	}

	nav li a{
		color: rgb(12, 18, 73);
		font-weight: bold;
		font-size: 1.4rem;
		margin:0.2rem;
	}


/*proprietati CSS carousel*/
.homeslider{
	display: initial;
	width: 100%;
	position: relative;
    margin-bottom: 30px;
	}
	
	
/*proprietati CSS galerie de imagini*/
	section{
		flex-direction: row;
	}

	.main-wrapper{
		width: 90%;
		margin: 0 auto;
	}

	.gallery{
        width: 40%;
        padding-left: -1.5rem;
	}

	section{
	background-color: rgba(0,0,0,0.8);
	margin-top: 30px; 
	}


	/*proprietati CSS galerie efect Hover*/
	.hovereffect a.info {
		margin-top: 22.5vw;
	  }
}
/*end responsive for tablet*/


/*start responsive for desktop*/
@media (min-width: 1024px){
/*proprietati CSS Header*/
	.logo{
        width: 12%;
    }
    
    nav li a{
		font-size: 2rem;
	}


	/*proprietati CSS galerie de imagini*/
    section{
        margin-top: 30px;
	}
	
	.main-wrapper{
		width: 90%;
		margin: 0 auto;
	}

	.gallery{
        width: 20%;
		padding-left: -1.5rem;
		margin:1rem 2.5%;
	}


	/*proprietati CSS galerie efect Hover*/
	.info{
		font-size: 1vw;
	}

	.hovereffect a.info {
		margin-top: 11vw;
	  }
}
